@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #a48b86;
  --heading: #3b2e2c;
  --input-font-color: #534844;
  --button-bg: #382e2c;
  --outline-button-bg: #e7d9cc;
  --white: #ffffff;
  --un-selected-btn: #877572;
  --un-selected-btn-text: #bdbdbd;
}

.color-1 {
  color: var(--input-font-color);
}
.color-2 {
  color: var(--heading);
}
.bg-1 {
  background-color: var(--bg-color);
}
.bg-2 {
  background-color: var(--outline-button-bg);
}

.fs-15 {
  font-size: 15px;
}

.br-15 {
  border-radius: 15px !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Alegreya", serif;
  background-image: url("../images/bg.png");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  min-height: 100vh;
  background-position: top;
  background-size: cover;
  position: relative;
}

.title-1 {
  /* --heading: #3b2e2c; */
  font-size: 29px;
  font-weight: 700;
}
.title-2 {
  /* --heading: #3b2e2c; */
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
}
.title-3 {
  /* --heading: #3b2e2c; */
  font-size: 20px;
  font-weight: 700;
}
.page-wrapper {
  padding-top: 42px;

}
.container {
  max-width: 600px !important;
}

/* btn */
.filled-btn {
  border-radius: 20px;
  padding: 13px 23px;
  border: none;
  outline: none;
  color: var(--outline-button-bg);
  background-color: var(--button-bg);
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.outline-btn {
  border-radius: 20px;
  padding: 13px 23px;
  border: 1px solid var(--white);
  outline: none;
  color: var(--outline-button-bg);
  background-color: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: var(--white);
}
.cursor-pointer {
  cursor: pointer;
}

.selected-btn,
.un-selected-btn {
  border-radius: 10px;
  background-color: var(--un-selected-btn);
  color: var(--un-selected-btn-text);
  /* padding: 5px 40px; */
  font-size: 20px;
  line-height: 44px;
  font-weight: 500;
  width: 100%;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.selected-btn {
  background-color: var(--un-selected-btn);
  color: var(--un-selected-btn-text);
}

.un-selected-btn {
  background-color: var(--outline-button-bg);
  color: var(--headingt);
}
.my-btn-wrapper {
  display: flex;
  gap: 30px;
}

.fw-500 {
  font-weight: 500 !important;
}


@media (max-width: 575.98px) { 
  .page-wrapper {
    padding-top: 20px;
  
  }
 }