.submit__details {
  padding: 10px;
}

.heading {
  display: flex;
  justify-content: start;
  gap: 30px;
  align-items: center;
}
.heading p {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: #382e2c;
  margin-bottom: 0;
}
.left__Arrow {
  font-size: 35px;
}

.sub_heading {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #382e2c;
}

.form {
  position: relative;
  width: 20rem;
  height: 3rem;
  margin-top: 20px;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  color: #382e2c;
  outline: none;
  padding: 1.25rem;
  background: none;
  border: 1px solid #382e2c;
  border-radius: 20px;
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  padding: 0 0.5rem;
  color: #382e2c;
  cursor: text;
  font-weight: 400;
  font-size: 1.3rem;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #a48b86;
  border: none;
  border-radius: 20px;
}
.form__label {
  top: -0.7rem;
  font-size: 1rem;
  left: 0.8rem;
}

/* hide number arrow from number input field*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* submit button */
.submit__button {
  width: 20rem;
  height: 3rem;
  background: #382e2c;
  border-radius: 10px;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #e7d9cc;
  border: none;
  margin-top: 10px;
}
