.scoar-board {
  padding: 8px 15px;
  border-radius: 10px;
}

.my-progress-bar{
    /* height: 8px; */
    border: 0.8px solid #000000;
    border-radius: 9px;
    position: relative;
}

.progess-info{
    /* position: absolute;
    left: 0;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: red; */
    height: 13.5px;
    background-color: #382E2C;
    width: 80%;
    border-radius: 9px;
}